<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
        <key>secureData</key>
        <data>
        YnBsaXN0MDDUAQIDBAUGBwpYJHZlcnNpb25ZJGFyY2hpdmVyVCR0b3BYJG9iamVjdHMS
        AAGGoF8QD05TS2V5ZWRBcmNoaXZlctEICVRyb290gAGmCwwZGhscVSRudWxs1g0ODxAR
        EhMUFRQXGF1tb2RpZmllckZsYWdzXxAbY2hhcmFjdGVyc0lnbm9yaW5nTW9kaWZpZXJz
        ViRjbGFzc1pjaGFyYWN0ZXJzV2tleUNvZGVXdmVyc2lvboAEgACABYAAgAOAAlExEf//
        EgAEAADSHR4fIFokY2xhc3NuYW1lWCRjbGFzc2VzWlNSU2hvcnRjdXSiHyFYTlNPYmpl
        Y3QACAARABoAJAApADIANwBJAEwAUQBTAFoAYABtAHsAmQCgAKsAswC7AL0AvwDBAMMA
        xQDHAMkAzADRANYA4QDqAPUA+AAAAAAAAAIBAAAAAAAAACIAAAAAAAAAAAAAAAAAAAEB
        </data>
        <key>string</key>
        <string>⌃</string>
</dict>
</plist>
